body {
        font-family  : Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: italic;
        background-image:url("backround.jpg");
        background-size: cover;
        }

/* Header */
header {
        width: 1350px;
        background-color: #c47be0; 
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
}


header .logo {
        font-weight: bold;
        margin-right: auto;

}

header nav ul {
        list-style: none;
        display: flex;
        gap: 20px;
}

header nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 14px;
}

.photo {
        width: 70px;
        height: 55px;    
}

/* Isi */
.bio h2 {
    font-family: 'Courier New', Courier, monospace;    
    margin-bottom: 10px;
    text-align: center;
}

.bio h3 {
    font-family: monospace ;    
    margin-bottom: 10px;
    text-align: center;
}

.bio p {
    font-family: monospace ;    
    font-size: 14px;
    color: #333;
    text-align: justify;
}

.saya {
        width: 1258px;
        height: 600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
}

/* Footer */
footer {
        width: 1350px;
        text-align: center;
        padding: 15px;
        background-color: #c47be0; 
        color: white;
        font-size: 13px;
}